@import "https://fonts.googleapis.com/css?family=Racing+Sans+One";

/*****************************************
Normalize CSS styles 
*****************************************/
*,
body,
button,
input,
textarea,
select {
  text-rendering: optimizeLegibility;
  font-size: 100%;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
}
/****************************************
Body Style
*****************************************/
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f7f7f7;
  font-family: sans-serif;
  text-align: center;
  padding: 0;
  overflow-y: scroll;
}
.myCenter {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
}
.centerHolder > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.5);
  align-self: center;
  justify-self: center;
}
/*****************************************
Element Title Style
*****************************************/
.myTitle {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.25em;
  color: #32b1ca;
}

.mysong {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.875em;
  color: #32b1ca;
  margin: 0 0 0.5em;
}
.myilustrator {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2em;
  color: #32b1ca;
  margin: 0 0 1.2em;
}
/*****************************************
Element Holder Style
*****************************************/
.holder {
  display: inline-block;
  margin: auto;
  padding: 2vmin 0;
}
/*****************************************
Element Held Style
*****************************************/
.holder .held {
  padding: 2vmin;
  background: #32b1ca;
}
.holder .held:nth-of-type(1) {
  margin-top: 0px;
}

.insideHolder1,
.insideHolder2,
.insideHolder3 {
  vertical-align: top;
  border: 1px solid white;
  padding: 2vmin;
  margin-bottom: 2vmin;
  -webkit-box-shadow: 0 0px 0 black, inset 0 1px 7px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0px 0 black, inset 0 1px 7px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0px 0 black, inset 0 1px 7px rgba(0, 0, 0, 0.4);
}
.insideHolder1 {
  background: rgba(255, 255, 255, 0.5);
}
.insideHolder2 {
  background: rgba(0, 0, 0, 0.1);
}
.insideHolder3 {
  background: white;
}
.insideHolder1:last-child,
.insideHolder2:last-child,
.insideHolder3:last-child {
  margin-bottom: 0;
}
/*****************************************
Element Button Style
*****************************************/
.smallHead {
  font-weight: bold;
  color: #555;
  font-size: 16px;
}
.inputHolder {
  display: inline-block;
  width: 42%;
  padding: 5px 3%;
}
.inputHolder label {
}
.inputHolder input {
}
/*****************************************
Element Button Style
*****************************************/
.button {
  display: inline-block;
  vertical-align: baseline;
  margin: 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: 0.5em 2em 0.55em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.bigrounded {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
.medium {
  font-size: 12px;
  padding: 0.4em 1.5em 0.42em;
}
.small {
  font-size: 11px;
  padding: 0.2em 1em 0.275em;
}
/*****************************************
Element Button Color Styles
*****************************************/
/* black */
.black {
  color: #d7d7d7;
  border: solid 1px #333;
  background: #333;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#666),
    to(#000)
  );
  background: -moz-linear-gradient(top, #666, #000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.button.black:hover {
  background: #000;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#444),
    to(#000)
  );
  background: -moz-linear-gradient(top, #444, #000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.button.black:active {
  color: #666;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#000),
    to(#444)
  );
  background: -moz-linear-gradient(top, #000, #444);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}
/* gray */
.gray {
  color: #e9e9e9;
  border: solid 1px #555;
  background: #6e6e6e;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#888),
    to(#575757)
  );
  background: -moz-linear-gradient(top, #888, #575757);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.button.gray:hover {
  background: #616161;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#757575),
    to(#4b4b4b)
  );
  background: -moz-linear-gradient(top, #757575, #4b4b4b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.button.gray:active {
  color: #afafaf;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#575757),
    to(#888)
  );
  background: -moz-linear-gradient(top, #575757, #888);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}
/* white */
.white {
  color: #606060;
  border: solid 1px #b7b7b7;
  background: #fff;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    to(#ededed)
  );
  background: -moz-linear-gradient(top, #fff, #ededed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.button.white:hover {
  background: #ededed;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    to(#dcdcdc)
  );
  background: -moz-linear-gradient(top, #fff, #dcdcdc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.button.white:active {
  color: #999;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ededed),
    to(#fff)
  );
  background: -moz-linear-gradient(top, #ededed, #fff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
/* orange */
.orange {
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#faa51a),
    to(#f47a20)
  );
  background: -moz-linear-gradient(top, #faa51a, #f47a20);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.button.orange:hover {
  background: #f47c20;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f88e11),
    to(#f06015)
  );
  background: -moz-linear-gradient(top, #f88e11, #f06015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.button.orange:active {
  color: #fcd3a5;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f47a20),
    to(#faa51a)
  );
  background: -moz-linear-gradient(top, #f47a20, #faa51a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
/* red */
.red {
  color: #faddde;
  border: solid 1px #980c10;
  background: #d81b21;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ed1c24),
    to(#aa1317)
  );
  background: -moz-linear-gradient(top, #ed1c24, #aa1317);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.button.red:hover {
  background: #b61318;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#c9151b),
    to(#a11115)
  );
  background: -moz-linear-gradient(top, #c9151b, #a11115);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.button.red:active {
  color: #de898c;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#aa1317),
    to(#ed1c24)
  );
  background: -moz-linear-gradient(top, #aa1317, #ed1c24);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}
/* blue */
.blue {
  color: #fff;
  font-weight: 700;
  background: #d8c821;
  font-size: 0.8125em;
  letter-spacing: 0.15em;
  font-family: Montserrat, sans-serif;
  font-style: normal;
}
.button.blue:hover {
  background: #007ead;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#0095cc),
    to(#00678e)
  );
  background: -moz-linear-gradient(top, #0095cc, #00678e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.button.blue:active {
  color: #80bed6;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#0078a5),
    to(#00adee)
  );
  background: -moz-linear-gradient(top, #0078a5, #00adee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
/* rosy */
.rosy {
  color: #fae7e9;
  border: solid 1px #b73948;
  background: #da5867;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f16c7c),
    to(#bf404f)
  );
  background: -moz-linear-gradient(top, #f16c7c, #bf404f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f');
}
.button.rosy:hover {
  background: #ba4b58;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#cf5d6a),
    to(#a53845)
  );
  background: -moz-linear-gradient(top, #cf5d6a, #a53845);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845');
}
.button.rosy:active {
  color: #dca4ab;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#bf404f),
    to(#f16c7c)
  );
  background: -moz-linear-gradient(top, #bf404f, #f16c7c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c');
}
/* green */
.green {
  color: #e8f0de;
  border: solid 1px #538312;
  background: #64991e;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#7db72f),
    to(#4e7d0e)
  );
  background: -moz-linear-gradient(top, #7db72f, #4e7d0e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.button.green:hover {
  background: #538018;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#6b9d28),
    to(#436b0c)
  );
  background: -moz-linear-gradient(top, #6b9d28, #436b0c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.button.green:active {
  color: #a9c08c;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#4e7d0e),
    to(#7db72f)
  );
  background: -moz-linear-gradient(top, #4e7d0e, #7db72f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}
/* pink */
.pink {
  color: #feeef5;
  border: solid 1px #d2729e;
  background: #f895c2;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#feb1d3),
    to(#f171ab)
  );
  background: -moz-linear-gradient(top, #feb1d3, #f171ab);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab');
}
.button.pink:hover {
  background: #d57ea5;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f4aacb),
    to(#e86ca4)
  );
  background: -moz-linear-gradient(top, #f4aacb, #e86ca4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb', endColorstr='#e86ca4');
}
.button.pink:active {
  color: #f3c3d9;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f171ab),
    to(#feb1d3)
  );
  background: -moz-linear-gradient(top, #f171ab, #feb1d3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f171ab', endColorstr='#feb1d3');
}
.myForm {
  margin: auto;
  background: #fff;
  border-radius: 5px;
  padding-top: 8px;
}
.myForm h1 {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0px 0px 20px 0px;
  color: #5c5c5c;
  font-size: x-large;
}
.myForm ul {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(200px, 0.20fr));*/
  grid-template-columns: repeat(auto-fit, auto);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  justify-items: stretch;
  align-items: stretch;
  list-style: none;
  padding: 0;
  margin: 0;
}
.myForm li {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 9px;
  border: 2px solid #dddddd;
  border-radius: 4px;
}
.myForm li:last-child {
  border: none;
  margin-bottom: 0px;
  text-align: center;
}
.myForm li > label {
  display: block;
  float: left;
  margin-top: -19px;
  background: #ffffff;
  height: 14px;
  padding: 2px 5px 2px 5px;
  color: #b9b9b9;
  font-size: 14px;
  overflow: hidden;
}
.myForm input[type="text"],
.myForm input[type="date"],
.myForm input[type="datetime"],
.myForm input[type="email"],
.myForm input[type="number"],
.myForm input[type="search"],
.myForm input[type="time"],
.myForm input[type="url"],
.myForm input[type="password"],
.myForm textarea,
.myForm select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
}
.myForm li > span {
  background: #f3f3f3;
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: #c0c0c0;
  font-size: 11px;
}
.myForm textarea {
  resize: none;
}

.holder {
  max-width: 1140px;
}
.held {
  position: relative;
  overflow: hidden;
}
.button {
  width: 200px;
  padding: 10px;
}

#ActivityDIV .swatchHolder {
  position: relative;
  float: right;
  bottom: 0px;
  margin: auto auto auto 10px;
  left: 0px;
  right: 0px;
  list-style-type: none;
  text-align: center;
  display: inline-block;
  padding: 15px 0px;
  width: 23%;
  border-radius: 20px 20px 0px 0px;
  color: black;
}
#ActivityDIV .swatchHolder .colorHolder {
  width: 93%;
  line-height: 100%;
  content: "Chosen Color";
  padding: 10px 0px;
  margin: 0px auto 15px auto;
  cursor: pointer;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
#ActivityDIV .swatchHolder li:not(.colorHolder) {
  height: 45px;
  width: 45px;
  margin: 3px;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

#ActivityDIV svg {
  width: 75%;
  display: inline-block;
  float: left;
}
#ActivityDIV svg path {
  cursor: pointer;
}

/* Menu superior------------------*/

.example-three {
  .logo,
  nav {
    width: 100%;
  }

  .nav-item {
    color: #f6f7ee;
  }
}

.logo,
.nav-item,
.vertical-align-middle {
  display: inline-block;
  vertical-align: middle;
  padding-right: 25px;
  box-shadow: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
  background-color: #d8c821 !important;
  white-space: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */
}

@media only screen and (max-width: 770px) {
  #ActivityDIV svg {
    width: 100%;
    height: 100%;
  }

  #ActivityDIV .swatchHolder {
    position: relative;
    float: right;
    bottom: 0px;
    margin: auto auto auto 10px;
    left: 0px;
    right: 0px;
    list-style-type: none;
    text-align: center;
    display: inline-block;
    padding: 15px 0px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    color: black;
  }

  #ActivityDIV .swatchHolder .colorHolder {
    width: 100%;
  }
}
